include LICENSE.md
include README.md
include iseq/_data/GALNBKIG_cut.fasta
include iseq/_data/PF03373.hmm
include iseq/_data/PF03373_GALNBKIG_cut.amino.fasta
include iseq/_data/PF03373_GALNBKIG_cut.codon.fasta
include iseq/_data/PF03373_GALNBKIG_cut.gff
include iseq/_data/amino1.fasta
include iseq/_data/database1.hmm
include iseq/_data/output1.gff
include iseq/_data/output1_evalue.gff
include iseq/_data/tblout.txt
include iseq/_gff/test/deduplicate.gff
include iseq/_gff/test/duplicate.gff
include iseq/_data/large_rna_seq.fasta
include iseq/_data/large_rna_seq_amino0.fasta
include iseq/_data/large_rna_seq_codon0.fasta
include iseq/_data/large_rna_seq_output0.gff
include iseq/_data/large_rna_seq_amino48.fasta
include iseq/_data/large_rna_seq_codon48.fasta
include iseq/_data/large_rna_seq_output48.gff
include version.py
